
@import "../bower_components/normalize-css/normalize.css";
@import "../bower_components/typeplate-starter-kit/css/typeplate.css";

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-delay: 0s;
    transition-duration: 0.25s;
    transition-property: opacity, transform, color, background-color, border-color, z-index, background-image;
    transition-timing-function: ease;
}

/**
 * GRIDS
 */

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    > * {
        flex: 1;
        flex-basis: 100%;
    }
}

@define-mixin grid_r $col, $width {
    @media only screen and (min-width: $(width)px) {
        .grid-$(col)-$(width) {
            & > * {
                flex-basis: calc(100 / $col)%;
            }
            @mixin-content;
        }
    }
}

@define-mixin grid $col {
    .grid-$(col) {
        & > * {
            flex-basis: calc(100 / $col)%;
        }
        @mixin-content;
    }
}

@mixin grid 2 {}
@mixin grid 4 {}
@mixin grid 6 {}

@mixin grid_r 2, 400 {}
@mixin grid_r 2, 800 {}

@mixin grid_r 4, 400 {}
@mixin grid_r 4, 800 {}

/**
 * GENERAL
 */

img {
    max-width: 100%;
}
/**
 * YOUR CODE HERE
 */

$myBlue: #76C9ED;
$myWhite: #EFEFEF;
$myBlack: #383838;

body{
    font-family: 'Roboto', sans-serif;
    background-color: $myBlue;
    transition: none;
}

#trackListItems{
    list-style: none;
    font-family: 'Roboto',sans-serif;
    margin: auto;   
    width: 300px;
}

li{
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 6px;
    border-top: 0.5px solid $myWhite;
    padding: 3px;
    font-weight: 300;
    color: $myWhite;
}

#listHeader{
    background-color: $myWhite;
    color: $myBlue;
}

li:hover{
    font-weight: 500;
    cursor: pointer;
}

// T R A C K  P L A Y E R

#containerTwo{
    background-color: white;
    color: $myBlack;
}

#TrackPlayer{
    color: $myBlack;
    background-color: white;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    padding-top: 10px;
    transition: none;
    height: 125px;
    width: 60%;
}

#MainInfo{
    font-size: 14px;
    display: inline-block;
    position: absolute;
    top: 23%;
    left: 22%;
}

#trackArtist{
    font-weight: 300;
}

#trackTitle{
    font-weight: bold;
    text-indent: 0;
}

#favoriteCount{
    i{
        font-size: 14px;
    }
    color: lightGray;
    font-size: 14px;
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Helvetica';
    position: absolute;
    top:58%;
    right: 3%;
}

#waveform{
    -webkit-filter: invert(1);
   filter: invert(1);
}

#playControls{
    text-align: center;
    transition: none;
    display: inline-block;
}

#albumCover{
    position: relative;
    display: inline-block;
    width: 84px;
    margin-left: 23px;
    margin-top: 3px;
    padding-top: 7px;
}


button{
    p{
        padding: 0;
    }
    background-color: white;
    border: none;
    transition: none;
    padding: 0;
}

button:hover{
    color: lightGray;
    transition: none;    
}

button:focus{
    outline: none;    
}

#play{
    padding: 0;
    position: absolute;
    top: 24px;
    left: 25px;
    color: white;
    opacity: 0.6;
    font-size: 78px;

}

#play:hover{
    opacity: 1;
    cursor: pointer;
}

#stop{
    padding: 0;
    position: absolute;
    top: 24px;
    left: 25px;
    color: white;
    opacity: 0.6;
    font-size: 78px;

}

#stop:hover{
    opacity: 1;
    cursor: pointer;
}



#blank{
    margin: 0;
}

