
@import "../bower_components/normalize-css/normalize.css";
@import "../bower_components/typeplate-starter-kit/css/typeplate.css";

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-delay: 0s;
    transition-duration: 0.25s;
    transition-property: opacity, transform, color, background-color, border-color, z-index, background-image;
    transition-timing-function: ease;
}

/**
 * GRIDS
 */

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    > * {
        flex: 1;
        flex-basis: 100%;
    }
}

@define-mixin grid_r $col, $width {
    @media only screen and (min-width: $(width)px) {
        .grid-$(col)-$(width) {
            & > * {
                flex-basis: calc(100 / $col)%;
            }
            @mixin-content;
        }
    }
}

@define-mixin grid $col {
    .grid-$(col) {
        & > * {
            flex-basis: calc(100 / $col)%;
        }
        @mixin-content;
    }
}

@mixin grid 2 {}
@mixin grid 4 {}
@mixin grid 6 {}

@mixin grid_r 2, 400 {}
@mixin grid_r 2, 800 {}

@mixin grid_r 4, 400 {}
@mixin grid_r 4, 800 {}

/**
 * GENERAL
 */

img {
    max-width: 100%;
}
/**
 * YOUR CODE HERE
 */

$myBlue: #76C9ED;
$myWhite: #EFEFEF;
$myBlack: #3E3E3E;
$myGreen: #BFE1BE;

body{
    font-family: 'Roboto', sans-serif;
    background: -webkit-linear-gradient(#66A765, #FFFFFF);
    transition: none;
}

header{
    background-color: $myBlack;
    padding-top: 23px;
    margin-bottom: 28px;
    padding-top: 16px;
    padding-bottom: 14px;
    img{
        width: 40px;
        margin-left: 35px;
    }    
    i{
        color: white;
    }
}

#logo{
    font-family: 'Nova Round','Helvetica';
    font-size: 23px;
    color: white;
    text-align: left;
    display: inline-block;
    margin-bottom: 0px;
    margin-left: 5px;
}

#searchbar{
    border-radius: 13px;
    border: 0;
    outline: 0;
    height: 35px;
    width: 270px;
    font-size: 15px;
    font-weight: 300;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #F5F5F5;
    display: inline-block;
    float: right;
    margin-right: 100px;
}

#searchbar:focus{
    border:none;
    outline: 0;
    background-color: white;
    color: $myBlack;
}

#results{
    color: white;
    text-align: left;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 1px;
    margin-left: 50px;
    border-bottom: 7px solid orange;
    width: 91px;
    margin-bottom: 0;
}

#trackListItems{
    list-style: none;
    font-family: Roboto,sans-serif;
    margin-left: 50px;
    max-width: 687px;
    text-align: left;
    padding-left: 0
}

li{
    list-style: none;
    font-family: Roboto,sans-serif;
    font-size: 14px;
    border-top: 1px solid #3e3e3e;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 500;
    color: $myBlack;
}

#listHeader{
    background-color: $myWhite;
    color: $myBlue;
}

li:hover{
    font-weight: 700;
    cursor: pointer;
}

// T R A C K  P L A Y E R

#containerTwo{
    background-color: white;
    color: $myBlack;
}

#TrackPlayer{
    color: $myBlack;
    background-color: white;
    padding-top: 10px;
    transition: none;
    height: 120px;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin-top: 15px;
    border-top: 1px solid $myBlack;
}

#MainInfo{
    font-size: 14px;
    display: inline-block;
    position: absolute;
    top: 28%;
    margin-left: 25px;
    max-width: 400px;
}

#trackArtist{
    font-weight: 300;
}

#trackTitle{
    font-weight: bold;
    text-indent: 0;
    line-height: 16px;
}

#favoriteCount{
    i{
        font-size: 14px;
    }
    color: gray;
    font-size: 14px;
    text-align: left;
    padding-bottom: 10px;
    font-family: 'Helvetica';
    position: absolute;
    top:30%;
    right: 3%;
    text-indent: 0;
    font-weight: 300;
    line-height: 29px;
}

#waveform{
    -webkit-filter: invert(1);
   filter: invert(1);
}

#playControls{
    text-align: center;
    transition: none;
    display: inline-block;
}

#albumCover{
    display: inline-block;
    width: 75px;
    margin-left: 50px;
    margin-top: 3px;
    padding-top: 10px;
}

button{
    p{
        padding: 0;
    }
    background-color: white;
    border: none;
    transition: none;
    padding: 0;
}

button:hover{
    color: lightGray;
    transition: none;    
}

button:focus{
    outline: none;    
}

#play{
    padding: 0;
    display: inline-block;
    margin-left: 29px;
    top: 24px;
    left: 25px;
    color: $myBlack;
    opacity: 1;
    font-size: 78px;

}

#play:hover{
    opacity: 0.6;
    cursor: pointer;
}

#stop{
    padding: 0;
    display: inline-block;
    margin-left: 29px;
    top: 24px;
    left: 25px;
    color: $myBlack;
    opacity: 1;
    font-size: 78px;

}

#stop:hover{
    opacity: 0.6;
    cursor: pointer;
}

#barOne{
    width: 400px;
    display: inline-block;
    margin-left: 480px;
    margin-bottom: 40px;
    position: relative;
    background-color: lightgray;
    height: 2px;
}

#orangeBar{
    background-color: orange;
    height: 2px;
    position: absolute;
    margin-bottom: 40px;
    top: 0px;
}

#footer{
    color: $myBlack;
    background-color: orange;
    padding-top: 10px;
    transition: none;
    height: 120px;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin-top: 15px;
    border-top: 1px solid $myBlack;
    z-index: -1;

}


